/** Basics **/

.btn {
    @apply px-3;
    @apply rounded border border-solid;
    @apply text-center uppercase leading-loose;
    transition: background-color ease-in-out .2s, border-bottom-color ease-in-out .2s, color ease-in-out .2s;
}

@variants colors {
    .btn-primary {
        @apply bg-primary-3 text-white border-primary-4;
    }
    .btn-primary:hover {
        @apply bg-primary-4 border-primary-5;
    }
}

/** Button Groups **/

.btn-group {
    @apply inline-flex;
}

.btn-group .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}